<div class=" main-content container-fluid">
  <h1 style="background: #eecb62">This page is under construction</h1>
  <br>
  <h3>Customer Details</h3>
  <hr>
  <p style="font-weight: bold" >First Name: <span style="font-weight: normal"> John<!--{{customer.firstName}}--></span></p>
  <p style="font-weight: bold" >Last Name: <span style="font-weight: normal"> Smith<!--{{customer.lastName}}--></span></p>
  <p style="font-weight: bold" >Email: <span style="font-weight: normal"> john.smith@karamba.com<!--{{customer.email}}--></span></p>
  <br>
  <h5>Recent Orders</h5>
  <hr>
  <p style="font-weight: bold" >Order number: <span style="font-weight: normal"> SG6234854<!--{{order.number}}--></span></p>
  <p style="font-weight: bold" >Status: <span style="font-weight: normal"> Dispatching<!--{{order.status}}--></span></p>
  <p style="font-weight: bold" >Description: <span style="font-weight: normal"> Need 4 Speed - €50.00<!--{{order.description}}--></span></p>
  <br>
  <a routerLink="/products" class="active-link" style="text-align: center">Back to Main Page</a>
</div>
