  <!-- MAIN CONTENT-->
  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">

         <!-- loop over the collections of products -->
          <div *ngFor="let theProduct of products" class="col-md-3" style="padding: 10px 10px">
            <div class="row" style="width: 250px; height: 430px">
              <a routerLink="/products/{{theProduct.id}}">
            <img src="{{theProduct.imageUrl}}" style="width: 90%" class="high-light img-thumbnail">
              </a>
              <a routerLink="/products/{{theProduct.id}}">
                <h3>{{theProduct.name}}</h3>
              </a>
            <div style="color: #1eb8ff; font-size: 20px; font-weight: bold; margin-bottom: 10px">
              {{theProduct.unitPrice | currency: 'EUR'}}</div>
            </div>
            <a (click)="addToCart(theProduct)" class="btn btn-primary" style="margin-left: 40%">Add to Cart</a>
          </div>
        </div>

        <!-- if the product is not listed display this message-->
        <div *ngIf="products?.length == 0" class="alert alert-info"><strong>
          No products found to satisfy your search request. :(</strong>
        </div>

          <!--PAGINATION-->
        <div class="footer-pagination">
          <div class="row">
            <div class="col-md-4"></div>

              <div class="col-md-5">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                (pageChange)="listProducts()">
                </ngb-pagination>

            </div>

          </div>

    </div>
  </div>
  </div>
  <!-- END MAIN CONTENT-->
