
  <!-- MAIN CONTENT-->
  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">

         <!-- loop over the collections of products -->
          <div *ngFor="let theProduct of products" class="col-md-3" style="padding: 10px 10px">
            <div class="row" style="width: 250px; height: 430px">
            <img src="{{theProduct.imageUrl}}" style="width: 90%">
            <h3>{{theProduct.name}}</h3>
            <div style="color: #1eb8ff; font-size: 20px; font-weight: bold; margin-bottom: 10px">
              {{theProduct.unitPrice | currency: 'EUR'}}</div>
            </div>
            <a href="#" class="btn btn-primary" style="margin-left: 40%">Add to Cart</a>
          </div>
        </div>
          <!--PAGINATION-->
          <div class="row">
            <div class="col-md-9">
              <ul class="pagination" style="margin-left: 50%">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
            </div>
            <div class="col-md-2" style="alignment: right; margin-top: 25px;">
              <div class="items">
                <label>Items per page</label>
                <select>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                </select>
              </div>
            </div>
          </div>

    </div>
  </div>
  </div>
  <!-- END MAIN CONTENT-->
