<!-- banner-->
<div class="jumbotron" style="background-image: linear-gradient(#e8eff3, #71c6ea)">
  <div class="container text-center">
    <h1><span style="color: #1eb8ff">Karamba </span><span>Games Store</span></h1>
    <p style="font-weight: bold">Everything You Need For The Best Gaming Experience!</p>
  </div>
</div>
<!-- banner end -->

<!-- nav panel-->
<nav class="navbar" style="background: #00bcfa">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/products"><img src="favicon.ico" style="margin-top: -5px"></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/products" routerLinkActive="active-link" style="color: black">Home</a></li>

        <!--dropdown nav buttons-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">Games
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/category/1" routerLinkActive="active-link">PS4</a></li>
            <li><a routerLink="/category/2" routerLinkActive="active-link">XBOX</a></li>
            <li><a routerLink="/category/3" routerLinkActive="active-link">PC</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">Accessories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/category/4" routerLinkActive="active-link">Headsets</a></li>
            <li><a routerLink="/category/5" routerLinkActive="active-link">Gaming mice</a></li>
            <li><a routerLink="/category/6" routerLinkActive="active-link">Gaming keyboards</a></li>
            <li><a routerLink="/category/7" routerLinkActive="active-link">VR equipment</a></li>
          </ul>
        </li>

        <!-- Contact Us-->
        <li class="active"><a routerLink="/contact" routerLinkActive="active-link" style="color: black">Contact Us</a></li>

        <!--searchbar-->
        <li>
            <app-search></app-search>
        </li>
      </ul>
      <!-- Your account -->
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/account"><span class="glyphicon glyphicon-user" style="color: black"></span><span style="color: black">Your Account</span></a></li>
      <!-- Cart -->
        <li>
          <app-cart-status></app-cart-status>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- nav panel end-->
    <router-outlet></router-outlet>
    <br>
<footer class="container-fluid text-center" style="background: #50c0f3; color: black; margin-top: 30%">
  <div><img src="favicon.ico"></div>
  <div>Copyright 2020 Karamba Game Store. All Rights Reserved.</div>
</footer>

