<!-- banner-->
<div class="jumbotron" style="background-image: linear-gradient(#e8eff3, #71c6ea)">
  <div class="container text-center">
    <h1><span style="color: #1eb8ff">Karamba </span><span>Games Store</span></h1>
    <p style="font-weight: bold">Everything You Need For The Best Gaming Experience!</p>
  </div>
</div>
<!-- banner end -->

<!-- nav panel-->
<nav class="navbar" style="background: #00bcfa">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#"><img src="favicon.ico" style="margin-top: -5px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" style="color: black">Home</a></li>

        <!--dropdown nav buttons-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">Games
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/productCategories/1">PS4</a></li>
            <li><a routerLink="/productCategories/2">XBOX</a></li>
            <li><a routerLink="/productCategories/3">PC</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">Accessories
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/productCategories/4">Headsets</a></li>
            <li><a routerLink="/productCategories/5">Gaming mice</a></li>
            <li><a routerLink="/productCategories/6">Gaming keyboards</a></li>
            <li><a routerLink="/productCategories/7">VR equipment</a></li>
          </ul>
        </li>
        <!-- dropdown nav buttons end-->

        <li class="active"><a href="#" style="color: black">Contact Us</a></li>
        <li><form class="navbar-form navbar-left" onsubmit="return false;" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for anything" style="width: 500px">
          </div>
          <button type="submit" class="btn btn-info" style="background: #0c505b">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </form>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: black"></span><span style="color: black">Your Account</span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" style="color: black"></span><span style="color: black"> Cart</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar panel-->

<br>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/images/slide/detroit.jpg" alt="Detroit Becomes Human">
        </div>

        <div class="item">
          <img src="assets/images/slide/GTA5.jpg" alt="GTA5">
        </div>

        <div class="item">
          <img src="assets/images/slide/need4speed.jpg" alt="Need For Speed">
        </div>

        <div class="item">
          <img src="assets/images/slide/reddead2.png" alt="Red Dead Redemption 2">
        </div>

        <div class="item">
          <img src="assets/images/slide/the-last-of-us.jpg" alt="The Last Of Us">
        </div>

        <div class="item">
          <img src="assets/images/slide/watch-dogs-2.jpg" alt="Watch Dogs 2">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- end of slides-->
    <br>
    <router-outlet></router-outlet>
    <br>
  </div>
</div>
<footer class="container-fluid text-center" style="background: #50c0f3">
  <div><img src="favicon.ico"></div>
  <div>Copyright 2020 Karamba Game Store. All Rights Reserved.</div>

</footer>

